/* lets utilize the latest CSS variable functionality so we can define some root level CSS rules */
:root {
    --margin-bottom: 10px;
    --label-padding-right: 20px;
    --label-width: 200px;
    --widget-width: 250px;
    --border-radius: 4px;
    --main-padding: 30px;
    --input-text-size: 14px;
    --color-main: #5D6063;
}

* {
    margin: 0;
    padding: 0;
    /* The box-sizing property allows us to include the padding and border in an element's total width and height. If you set box-sizing: border-box; on an element, padding and border are included in the width and height:*/
    box-sizing: border-box;
}


.profile-form {
    background-color: rgb(241, 238, 238);
    border: 1px solid rgb(186, 189, 190);
    border-radius: var(--border-radius);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    padding: var(--main-padding);
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.profile-form {
    width: 600px;
}


.form-row label {
    width: var(--label-width);
    padding-right: var(--label-padding-right);
    text-align: right;
    margin-top: 5px;
}

/* ********** TEXTAREA MENUS STYLING **********  */

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;

    border: 1px solid #D6D9DC;
    border-radius: var(--border-radius);

    min-height: 100px;
    margin-bottom: var(--margin-bottom);
    padding: 10px;
    width: var(--widget-width);
}

.form-row .description {
    color: #999999;
    font-size: 14px;
    margin-bottom: var(--margin-bottom);
    margin-left: var(--label-width);
}

